<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Anime List Shared
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
