#container {
  text-align: center;
  margin-top:60px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.canvas {
  bottom: 2px;
  position: absolute;
}

ion-content ion-toolbar {
  --background: translucent;
}

ion-card {
  height: 500px;
  width: 200px;
}