<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let anime of animes">
            <ion-card>
              <img src="{{anime.image}}" width="300" />
              <p>{{anime.name}}</p>
              <canvas #barChart class="canvas" id="{{anime.index}}"></canvas>
            </ion-card>  
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
